<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todolist</title>
</head>

<body>
    <div id="app">
        <p>
            <filter-component v-for="(filter, key) in filters" @filterateevent='filtrate(filter)' :text='filter' :key="key"></filter-component>
        </p>
        <ul>
            <li v-for="(todo, index) in showlist" :class="todo.done? 'done' : '' " :key="index" @click="tagDone(index)">
                {{todo.title}}
            </li>
        </ul>
        <p>
            <input type="text" v-model="newTodo" placeholder="add a todo" @keyup.enter="add">
            <button @click="add">添加</button>
        </p>
    </div>
    <!-- build:js -->
    <script src="js/vue.js"></script>
    <script src="js/components.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->
    <style>
    a {
        display: inline-block;
        width: 10%;
        padding: 0 5%;
        background: pink;
        border: 1px solid blue;
        cursor: pointer;
    }
    
    .done {
        text-decoration: line-through
    }
    
    ul li {
        cursor: pointer
    }
    </style>
</body>

</html>
